
.contact-wrap{
    display: flex;
    justify-content: space-between;
}

.contact-logo{
    width: 59%;
}

.contact-logo__img{
    width: 100%;
    height: auto;
}

.contact-information{
    width: 31%;
    // height: 430px;
    color: black;
    .footer-main__contact-item{
        margin-bottom: 7px;
    }
    .footer-main__contact-title{
        color: $color-gray1;
    }
    .footer-main__contact-text{
        color: $color-gray1;
        font-weight: 700;
    }
    .footer-main__contact-link{
        font-weight: 700;
        text-decoration: underline;
        letter-spacing: 0.03em;
        color: $color-gray1;
    }
}

.contact-map{
    margin-top: 20px;
}