.doctors-items{
    width: 100%;
    height: auto;
}

.doctor-item{
    width: 100%;
    display: flex;
    background-color: $color-white;
    border: 5px solid $color-gray4;
    border-radius: 10px;
}

.doctor-item_img-wrap{
    max-width: 350px;
    width: 100%;
    min-width: 175px;
    max-height: 390px;
    height: 100%;
}

.doctor-item_img{
    width: 100%;
    height: auto;
    border-radius: 10px 0px 0px 10px;
}

.doctor-item_content{
    padding: 30px 45px;
    width: 100%;
}

h3.doctor-item__name{
    font-size: 25px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: $color-gray1;
}

.doctor-item__post{
    opacity: 0.8;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.03em;
    color: $color-red;
}

.doctor-item__descr{
    margin-top: 10px;
    padding-right: 10px;
    opacity: 0.8;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.03em;
    color: $color-gray1;
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        // background-color: #F5F5F5;
        // margin-bottom: 20px;
    }
    &::-webkit-scrollbar {
        width: 7px;
        // background-color: #F5F5F5;
    }
    
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: $color-red;
    }
}

.doctor-item__sertificates{
    width: 100%;
    margin-top: 13px;
    padding-bottom: 10px;
    overflow-x: auto;
    height: 105px;
    display: flex;
    cursor: pointer;
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
    }
    &::-webkit-scrollbar {
        height: 7px;
    }
    
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: $color-red;
    }
}

.doctor-item__sertificate-thumb{
    margin-right: 15px;
}

.doctor-item__sertificate-img{
    margin-top: 70px;
    width: 100%;
    height: auto;
}

.btn-content-inside {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: $color-red;
    margin-top: 20px;
    &:hover, &:active{
        color: $color-white;
    }
}


.doctors-thumbs{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 20px 0px;
    border-bottom: none;
    overflow-x: auto;
    width: 100%;
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
    }
    &::-webkit-scrollbar {
        height: 7px;
    }
    
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: $color-red;
    }
}

.doctors-thumb{
    padding: 0 5px;
}

.modal-content__sertif{
    background-color: $color-white;
}

.modal-header__sertif{
    border-bottom: none;
    position: relative;
}