::placeholder{
	color: #666;
}

::selection{
	background-color: $accent;
	color: #fff;
}

input, textarea{
	outline: none;
	&:focus:required:invalid{
		border-color: red;
	}
	&:required:valid{
		border-color: green;
	}
}

html {
	font-size: 16px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
}

body{
	font-size: 1rem;
	min-width: 320px;
	width: 100%;
	position: relative;
	line-height: 1.65;
	font-family: 'Circe', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
	color: $text-color;
	text-align: left;
	background-color: #fff;
	margin: 0;
}

p{
	margin: 0;
	padding: 0;
}

a{
	color: $color-red;
	text-decoration: underline;
	
	&:hover, &:active{
		color: $color-yellow;
	}
}

.white-link{
	color: $color-white;
}

.logo-link{
	text-decoration: underline;
	&:hover, &:active, &:visited{
		text-decoration: none;
	}
}

.link-phone{
	color: $text-color;
	text-decoration: none;

	&:hover, &:active, &:visited{
		color: $text-color;
		text-decoration: none;
	}
}

.popup-link-phone{
	color: $color-red;
	text-decoration: none;

	&:hover, &:active, &:visited{
		color: $color-red;
		text-decoration: none;
	}
}

.wrap_w1200{
	max-width: 1200px;
	margin: 0 auto;
}

.wrap{
	padding: 0px 15px;
	width: 100%;
}

.btn{
	box-shadow: 0px 5px 14px 10px rgba(247,147,29,0.18);
	width: 325px;
	height: 55px;
	border-radius: 4px;
}

.bg-btn{
	background-color: $color-yellow;
}

.subheader-btn__text{
	font-size: 23px;
	line-height: 22px;
	font-weight: 700;
	color: $color-red;
	margin: 0 auto;
}

.subheader-btn{
	display: none;
}



	
  
 
  
  