::placeholder{
	color: #666;
}

::selection{
	background-color: $accent;
	color: #fff;
}

input, textarea{
	outline: none;
	&:focus:required:invalid{
		border-color: red;
	}
	&:required:valid{
		border-color: green;
	}
}

html {
	font-size: 16px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
}

body{
	font-size: 1rem;
	min-width: 320px;
	width: 100%;
	position: relative;
	line-height: 1.65;
	font-family: 'Circe', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
	color: $text-color;
	text-align: left;
	background-color: #fff;
	margin: 0;
}

p{
	margin: 0;
	padding: 0;
}

a{
	color: $color-red;
	text-decoration: underline;
	
	&:hover, &:active{
		color: $color-yellow;
	}
}

ul{
	padding: 0;
}

.white-link{
	color: $color-white;
}

.logo-link{
	text-decoration: underline;
	&:hover, &:active, &:visited{
		text-decoration: none;
	}
}

.link-phone{
	color: $text-color;
	text-decoration: none;

	&:hover, &:active, &:visited{
		color: $text-color;
		text-decoration: none;
	}
}

.popup-link-phone{
	color: $color-red;
	text-decoration: none;
	transition: 0.2s;
	letter-spacing: 1.3px;

	&:hover, &:active, &:visited{
		color: $color-white;
		transition: 0.2s;
		text-decoration: none;
	}
}

.wrap_w1200{
	max-width: 1200px;
	margin: 0 auto;
}

.wrap{
	padding: 0px 15px;
	width: 100%;
}

.btn{
	box-shadow: 0px 5px 14px 10px rgba(247,147,29,0.18);
	border-radius: 4px;
	&:hover{
		box-shadow: 0px 5px 14px 10px rgba(255,255,255,0.18);
	}
	&:focus{
		box-shadow: 0px 5px 14px 10px rgba(247,147,29,0.18);
	}
}

.bg-btn{
	background-color: $color-yellow;
}

.bg-red{
	background-color: $color-red;
}

.btn-submit{
	// width: 282px;
	width: 100%;
	height: 45px;
	font-size: 16px;
	line-height: 31px;
	font-weight: 700;
	color: $color-red;
	letter-spacing: 1.3px;
	&:hover{
		color: white;
	}
}

.btn-footer{
	width: 90%;
	border: 1px solid $color-yellow;
	transition: .3s;
	font-size: 16px;
	line-height: 22px;
	font-weight: 700;
	letter-spacing: 1.3px;
	color: $color-yellow;
	margin-bottom: 15px;
	&:hover{
		transition: .3s;
		color: $color-red;
		background-color: $color-yellow;
	}
}

.overflow_hidden{
	overflow: hidden;
}

.pos-rel{
	position: relative;
}

.padd-hor_10{
	padding: 0 10px;
}

.group-wrap{
	padding: 0 10%;
}












	
  
 
  
  