::placeholder{
	color: #666;
}

::selection{
	background-color: $accent;
	color: #fff;
}

input, textarea{
	outline: none;
	&:focus:required:invalid{
		border-color: red;
	}
	&:required:valid{
		border-color: green;
	}
}

html {
	font-size: 16px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
}

body{
	font-size: 1rem;
	min-width: 320px;
	width: 100%;
	position: relative;
	line-height: 1.65;
	font-family: 'Circe', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
	color: $text-color;
	text-align: left;
	background-color: #fff;
	margin: 0;
}

p{
	margin: 0;
	padding: 0;
}

a{
	color: $color-red;
	text-decoration: underline;
	
	&:hover, &:active{
		color: $color-yellow;
	}
}

.white-link{
	color: $color-white;
}

.link-phone{
	color: $text-color;
	text-decoration: none;

	&:hover, &:active, &:visited{
		color: $text-color;
		text-decoration: none;
	}
}



	
  
 
  
  