/*(1200 и больше) Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {


}

/*(992-1199) Medium Devices1, Desktops1 */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

	
}

/*(768-991) Medium Devices2, Desktops2 */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	
    
}

/*(576-767) Small Devices, Tablets */
@media only screen and (min-width: 567px) and (max-width: 767px) {
	

}

/*(321-575) Extra Small Devices, Phones */
@media only screen and (min-width: 321px) and (max-width: 575px) {

}

/*(320 и меньше) Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}




/* ----------------- ЗНАЧЕНИЕ И БОЛЬШЕ -----------------*/

/*321 и больше */
@media only screen and (min-width : 321px) {

}

/*576 и больше */
@media only screen and (min-width : 576px) {
	

}

/*769 и больше */
@media only screen and (min-width : 769px) {


}

/*992 и больше */
@media only screen and (min-width : 992px) {

}

/*1201 и больше */
@media only screen and (min-width : 1201px) {


}


/* ----------------- ЗНАЧЕНИЕ И МЕНЬШЕ -----------------*/
/*1200 и меньше */
@media only screen and (max-width : 1200px) {
    .wrap{
        padding: 0px 35px;
        width: 100%;
    }
    
    .contact-item, .contact-item_display-none{
        display: none;
    }
    
    .contact-item-md{
        display: block;
    }

    .header-lang{
        padding-top: 11px;
        margin-left: 37px;
    
        &__item{
            font-size: 21px;
            line-height: 35px;
            font-weight: 700;
            text-decoration: underline;
            text-transform: uppercase;
            color: $color-gray3;
        }
        
        &__item-active{
            color: $color-red;
        }
    }
}

/*991 и меньше */
@media only screen and (max-width : 991px) {
    .subheader{
        height: 82px;
    }
    .main-logo__img{
        height: 62px;
    }
    .contact-item-md{
        line-height: 37px;
        &__adress{
            font-size: 23px;
        }
        &__phone{
            font-size: 29px;
            .fa{
                margin-left: 7px;
            }
        }
    }
    .contact-item-md-addon{
        top: 80px;
        right: 115px;
    }
    .header-lang{
        padding-top: 11px;
        margin-left: 37px;
    
        &__item{
            font-size: 17px;
            line-height: 27px;
        }
    }
    .content {
        padding-top: 150px;
    }

    .footer-main{

        &__uppart-item_nav{
            display: none;
        }
        &__uppart-item{
            padding-top: 33px;
            width: 32%;
        }
        &__logo{
            height: auto;
        }
        &__logo-img{
            width: 90%;
            height: auto;
        }
        &__lang-change_sm{
            display: block;
        }
        &__socials-block{
            margin-bottom: 20px;
        }
    }
    
}
 
/*880 и меньше */
@media only screen and (max-width : 880px) {
    
    
}


/*768 и меньше */
@media only screen and (max-width : 768px) {
    .contact-item-md{
        line-height: 37px;
        &__adress{
            font-size: 21px;
        }
        &__phone{
            font-size: 27px;
            .fa{
                margin-left: 7px;
            }
        }
    }
    .contact-item-md-addon{
        top: 80px;
        right: 110px;
    }
    .header-lang{
        padding-top: 11px;
        margin-left: 37px;
    
        &__item{
            font-size: 16px;
            line-height: 27px;
        }
    }

    .footer-main{
        &__uppart-items{
            justify-content: space-evenly;
        }
        &__uppart-item{
            padding-top: 19px;
            width: 39%;
        }
        &__form-item{
            display: none;
        }
        &__request-question_sm{
            display: block;
        }
        &__socials-block{
            margin-bottom: 0px;
        }
    }

    

}

/*660 и меньше */
@media only screen and (max-width : 660px) {
    .header-main{
        position: initial;
        margin-top: 45px;
    }
    .subheader{
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 23px;
    }
    .main-logo{
        width: 100%;
        margin-top: 10px;
    }
    .main-logo__img{
        width: 100%;
        height: auto;
    }
    .contacts{
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
    }
    .contact-item{
        display: flex;
        margin-right: 0px;
    }
    .contact-item__logo, .contact-item__title, .contact-item__location, .contact-item_workinghours{
        display: none;
    }
    .contact-item__content a.link-phone{
        font-size: 27px;
        font-weight: 700;
        color: #8a1e04;
        text-align: right;
    }
    .contact-item__content-adress{
        font-size: 22px;
        font-weight: 400;
        color: #8a1e04;
        text-align: right;
    }
    
    .contact-item-md, .header-lang, .contact-item-md-addon{
        display: none;
    }
    .contact-item-sm{
        display: block;
    }
    .subheader-btn{
        display: flex;
        align-items: center;
        align-self: center;
        width: 100%;
        margin-top: 23px;
    }
    .subheader-btn__text{
    }
    .header-lang{
        display: flex;
        flex-direction: row;
        &__item{
            margin-left: 9px;
        }
    }
    .btn-wrap_header{
        display: flex;
    }
    .modal-dialog {
        margin: 1.75rem auto;
    }
    .content {
        padding-top: 0px;
    }
    .footer-main{
        height: 100%;
        &__uppart::before{
            content: none;
        }
        &__uppart-items{
            // flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
        }
        &__uppart-item{
            padding-top: 19px;
            width: 360px;
        }
        &__uppart-item:nth-child(3){
            margin-top: 50px;
        }
        &__contact-item{
            margin-left: 60px;
        }
        &__logo-img{
            width: 100%;
        }
        &__lang-change_sm{
            margin-bottom: 30px;
        }
        &__copyright_idv {
            margin-bottom: 20px;
        }
        &__socials-block{
            margin-bottom: 15px;
        }
    }
    .wrap{
        // padding: 0;
    }
    .btn-footer {
        width: 100%;
    }
    .btn{
        padding: 0.4rem;
    }

    .modal-callRequest{
        margin: 1.75rem 10%;
    }
    .call-popup-phones__item {
        width: 95%;
        min-width: 180px;
    }
    
}

/*576 и меньше */
@media only screen and (max-width: 576px) {
    .popup-link-phone {
        font-size: 21px;
        margin-left: 0;
    }
    
}

/*420 и меньше */
@media only screen and (max-width : 420px) {
    .contacts{
        margin-top: 13px;
    }
    .contact-item__content a.link-phone{
        font-size: 24px;
    }
    .contact-item__content-adress{
        font-size: 18px;
    }
    .call-popup-phones__item{
        &-img{
            // width: 20%;
            display: none;
            height: 23px;
        }
        &-number{
            width: 100%;
            margin-left: 0px;
            font-size: 17px;
            text-align: center;
        }
    }
    .popup-link-phone {
        font-size: 17px;
    }
    .call-popup-descr{
        width: 100%;
        font-size: 13px;
    }
    .modal-title{
        font-size: 17px;
        margin: 20px auto 20px;
    }
    .modal-dialog{
        width: 80%;
        min-width: 240px;
    }
    .popup-input-group_inputfield, .btn-submit{
        width: 90%;
    }
    .popup-input-group_inputfield{
        font-size: 14px;
        height: 33px;
        margin: 0 auto 11px;
        padding-left: 10px;
    }
    .popup-input-group_textarea {
        width: 90%;
        margin: 0 auto 11px;
        padding-left: 10px;
        font-size: 14px;
    }
    .modal-content .close{
        right: 11px;
        top: 11px;
        width: 11px;
        height: 11px;
        & span{
            font-size: 16px;
            padding: 5px 10px;
        }
    }
    .input-wrap_icon {
        top: 1px;
        right: 20px;
    }
    .btn-wrap_header{
        height: 75px;
        padding-top: 20px;
    }    
    .subheader-btn-sm{
        width: 210px;
        height: 35px;
    }    
    .subheader-btn__text{
        font-size: 19px;
        line-height: 21px;
    }
    .footer-main{

        &__uppart-item{
            width: 100%;
        }
        &__contact-item{
            margin-left: 0px;
        }
    }

    
}

/*320 и меньше */
@media only screen and (max-width : 320px) {
    .nav-wrap {
        margin-top: -990px;
    }
    .menu-show {
        margin-top: 0;
    }
    
}