/* ==================================== */
/*		  	  Hamburger Button		
/* ==================================== */
.toggle-button {
  position: fixed;
  width: 44px;
  height: 51px;
  top: 0px;
  right: 0px;
  width: 100%;
  padding: 4px;
  transition: .25s;
  z-index: 15;
  display: none;
  border: 1px solid #fce38a;
  border-radius: 4px;
  background-color: $color-red;
  opacity: 0.95;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }

.toggle-button:hover {
  cursor: pointer; 
}

.toggle-button .menu-bar {
  position: absolute;
  border-radius: 2px;
  width: 43px;
  margin-top: 5px;
  left: calc(50% - 16px);
  transition: .5s; }

.toggle-button .menu-bar-top {
  border: 4px solid $color-white;
  border-bottom: none;
  top: 6px; }

.toggle-button .menu-bar-middle {
  height: 4px;
  background-color: $color-white;
  margin-top: 12px;
  margin-bottom: 7px;
  top: 10px; }

.toggle-button .menu-bar-bottom {
  border: 4px solid $color-white;
  border-top: none;
  top: 28px; }

.button-open {
  background-color: $color-red;
}

.button-open .menu-bar-top {
  border-color: #fff;
  transform: rotate(45deg) translate(8px, 8px);
  transition: .5s; }

.button-open .menu-bar-middle {
  background-color: #fff;
  opacity: 0; }

.button-open .menu-bar-bottom {
  border-color: #fff;
  transform: rotate(-45deg) translate(7px, -7px);
  transition: .5s; }





/* ==================================== */
/*		  	  Navigaton Top Menu		
/* ==================================== */
.nav-wrap {
  background-color: $color-red;
  height: 59px;
  width: 100%;
}

.nav-wrap ul {
  max-width: 1200px;
  padding: 0px 15px;
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: space-between;
  list-style: none;
  margin: 0px auto;
  line-height: 59px;
}

.nav-wrap ul li {
  max-width: 281px;
  width: 100%;
  display: block;
  // height: 60px;
  text-align: center;
}

.nav-wrap>ul>li::after{
  content: '';
  position: absolute;
  right: 0;
  top: 18px;
  height: 24px;
  opacity: 0.2;
  border-right: 1px solid $color-white;
}

.nav-wrap>ul>li:hover::after {
  // border-right: none;
}


.nav-wrap ul li a {
  font-size: 16px;
  font-weight: 400;
  color: $color-white;
  text-decoration: none;
  position: relative;
  display: block;
  transition: 0.1s;
}
.nav-wrap>ul>li>a{
  height: 59px;
}

.nav-wrap>ul>li.menu-item-has-children>a::after {
  content: "\f107";
  font-family: 'FontAwesome';
  // position: absolute;
  margin-left: 10px;
  color: $color-yellow;
  // transition: all 0.5s;
}

.nav-wrap ul li a:hover, .nav-wrap ul li a:active {
  text-decoration: none;
  font-weight: 700;
  
}

.nav-wrap>ul>li a:hover, .nav-wrap>ul>li a:active, .nav-wrap>ul>li.current-menu-item>a {
  color: $color-red;
  font-weight: 700;
  background-color: $color-yellow;
  box-shadow: 0px 5px 14px 10px rgba(247,147,29,0.18);
}

.nav-wrap>ul>li.menu-item-has-children>a:hover::after{
  content: "\f107";
  display: inline-block;
  font-family: 'FontAwesome';
  transform: rotate(180deg);
  // transition: all 0.5s;
  // margin-left: 10px;
  color: $color-red;
}

.nav-wrap li.menu-item-has-children {
  position: relative;
}

.nav-wrap ul.sub-menu {
  position: relative;
  z-index: 1000;
  display: none;
  height: max-content;
  width: 100%;
  padding: 18px 0px;
  // width: max-content;
  list-style: none;
  font-size: 14px;
  background-color: $color-white;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 5px 14px 10px rgba(247,147,29,0.18);
  background-clip: padding-box;
}

ul.sub-menu:hover > .nav-wrap ul li.menu-item {
  // color: $color-red;
  // background-color: $color-yellow;
  // box-shadow: 0px 5px 14px 10px rgba(247,147,29,0.18);
}

.nav-wrap ul.sub-menu li {
  clear: both;
  width: auto;
  text-align: left;
}

.nav-wrap ul.sub-menu a {
  padding-left: 20px;
  font-size: 15px;
  line-height: 41px;
  font-weight: 300;
  color: $color-gray2;

  &:hover{
    color: $color-red;
    font-weight: 700;
  }

}

.nav-wrap ul.sub-menu li.current-menu-item > a{
  color: $color-red;
  font-weight: 700;
}

.nav-wrap:not(.mobile) li.menu-item-has-children:hover > ul.sub-menu {
  display: block;
  visibility: visible;
  opacity: 1;
}

.nav-wrap:not(.mobile) li.menu-item-has-children ul.sub-menu > li:hover {
  border-bottom: none;
}

/* ==================================== */
/*		  	  Navigaton Footer Menu		
/* ==================================== */
.footer-nav{
  list-style: none;
  
  li a{
    color: $color-white;
    text-decoration: none;
    font-size: 16px;
    line-height: 35px;
    font-weight: 200;
    letter-spacing: 0.03em;
    &:hover{
      color: $color-yellow;
    }
  }
}

#back-top {
  background: url(../img/pointup.png);
  position: absolute;
  text-align: center;
  font-size: 25px;
  line-height: 50px;
  bottom: 25px;
  right: 25px;
  width: 44px;
  height: 44px;
  z-index: 1;
}

/*1200 и меньше */
@media only screen and (max-width: 1200px) {
  // .nav-wrap>ul{
  //   position: relative;
  // }
  
  .nav-wrap ul.sub-menu{
    padding-bottom: 5px;
  }
  .nav-wrap ul.sub-menu li{
    // margin-bottom: 15px;
  }

  .nav-wrap ul.sub-menu a {
    line-height: 21px;
    padding-right: 10px;
  }
}

/*991 и меньше */
@media only screen and (max-width : 991px) {
  .nav-wrap {
    height: 49px;
  }
  .nav-wrap ul{
    line-height: 49px;
  }
  .nav-wrap>ul>li::after{
    top: 12px;
  }
  .nav-wrap ul li a{
    font-size: 15px;
  }
  .nav-wrap>ul>li>a{
    height: 49px;
  }
  .nav-wrap ul.sub-menu a{
    font-size: 14px;
    padding: 10px;
  }
  
}

/*768 и меньше */
@media only screen and (max-width : 768px) {
  .nav-wrap {
    height: 44px;
  }
  .nav-wrap ul{
    line-height: 44px;
  }
  .nav-wrap ul.sub-menu li {
    // margin-bottom: 12px;
  }
  .nav-wrap ul li a{
    font-size: 14px;
  }
  .nav-wrap>ul>li>a{
    height: 44px;
  }
  .n
  .nav-wrap ul.sub-menu a{
    font-size: 13px;
  }
}

/*660 и меньше */
@media only screen and (max-width: 660px) {
  .toggle-button {
    display: block;
  }

  .subheader{
    overflow: hidden;
  }
  .nav-wrap {
    position: fixed;
    top: 50px;
    left: 1%;
    max-height: 91%;
    height: fit-content;
    width: 98%;
    margin-top: -800px;
    /* margin-left: 0px; */
    font-size: 1em;
    font-weight: 700;
    overflow: auto;
    transition: .25s;
    z-index: 10;
    opacity: 1;
    border-radius: 0px 0px 10px 10px;
    background-color: $color-yellow;
    box-shadow: 4px 2px 15px 1px #B9ADAD;
    &::-webkit-scrollbar {
      display: none;
  }
  }

  .nav-wrap>ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 33px;
    margin-top: 0px;
    padding-top: 13px;
    z-index: 11;
    overflow-y: auto;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box;
  }
    
  .nav-wrap ul.sub-menu{
    top: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;
    
  }

  .nav-wrap ul.sub-menu li{
    line-height: 35px;
    
  }

  .nav-wrap ul.sub-menu a{
    font-size: 17px;
    font-weight: 400;
    color: $color-white;
  }

  .nav-wrap ul li{
    width: 100%;
    max-width: 100%;
    text-align: left;
  }
  .nav-wrap>ul>li::after{
    border: none;
  }
  .nav-wrap>ul>li>a{
    font-size: 21px;
    text-transform: uppercase;
  }
  .nav-wrap li.menu-item-has-children {
    position: relative;
    height: 100%;
  }
  
  .nav-wrap>ul>li.menu-item-has-children>a:hover::after, .nav-wrap>ul>li.menu-item-has-children>a::after {
    display: none;
  }

  .sidebar-menu-arrow::after{
    content: "\f107";
    font-family: 'FontAwesome';
    padding: 10px;
    color: #fff;
    position: relative;
    font-size: 23px;
    color: $color-white;
  }

  .sidebar-menu-arrow:hover::after {
    cursor: pointer;
    color: $color-red;
  }

  .sidebar-menu-arrow:active::after {
    top: 2px;
  }

  .nav-wrap ul li a{
    display: inline;
  }

  .nav-wrap ul.sub-menu{
    position: relative;
  }

  .menu-show {
    margin-top: 0;
  }

  .menu-sidebar {
    margin: 75px 0 80px 10px;
    position: relative;
    top: 70px;
  }

}