.recept-item{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 450px;
    margin-top: 10px;

    // &_ordered{
    //     flex-direction: row-reverse;
    // }

    &_first{
        margin-top: 40px;
    }
    
    &__img-wrap{
        width: 50%;
    }

    &__img{
        width: 100%;
        box-shadow: 1px 3px 20px 1px rgba(39,39,39,0.14);
        border-radius: 4px;
        height: 100%;
        // background-image: url('/img/recept_img_01.png');
        // background-repeat: no-repeat;
        // background-size: cover;
    }


    &__content-wrap{
        padding: 20px 0px;
        width: 50%;
        z-index: 1;
        
    }

    &__content{
        background-color: $color-pink;
        // margin: 20px 0px;
        border-radius: 4px;
        padding: 30px 60px 0px 60px;
        height: 100%;
        transition: 0.2s;
        box-shadow: 1px 3px 20px 1px rgba(39,39,39,0.14);
    }

    &__content_right{
        margin-left: -10px;
    }

    &__content_left{
        margin-right: -10px;
    }

    &__content:hover{
        background-color: $color-yellow;
        // border: 5.0px solid $color-yellow;
        cursor: pointer;
    }
    
    &__content:hover &__title,
    &__content:hover &__text{
        color: $color-white;

    }



    &__title{
        font-size: 25px;
        line-height: 22px;
        font-weight: 700;
        letter-spacing: 0.03em;
        color: $color-red;
        margin-bottom: 20px;
    }

    &__text{
        opacity: 0.8;
        font-size: 16px;
        line-height: 30px;
        font-weight: 300;
        letter-spacing: 0.03em;
        color: $color-gray1;
    }
}




