// User variables:
$color-black: #000000;
$color-gray1: #282828;
$color-gray2: #414141;
$color-red: #8a1e04;
$color-gray3: #cecece;
$color-gray4: #f3e8e5;
$color-yellow: #f7941d;
$color-orange: #ff671f;
$color-white2: #fff1e1;
$color-white: #ffffff;
$color-pink: #fff1e1;

$accent: $color-orange;
$text-color: $color-gray1;

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px;
$gutter: $grid-gutter-width;

// // Breakpoints mixin settings (node_modules/bootstrap/scss/mixins/_breakpoints.scss)
// // Example: +media-breakpoint-down(xs) - ≥576px / +media-breakpoint-up(sm) - // ≤576px
// // Default variables: node_modules/bootstrap/scss/_variables.scss
// $grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
